<% if @questions %>
	<% loop = 1 %>
	<% @questions.each do |q| %>
		<div>
			<p> <%= loop %> </p>
			<a href="/question/<%= q.id %>" ><%= q.question_details %> </a>
			<p> <%= q.category %> </p>
			<p> <%= User.find(q.user_id).full_name %> </p>
			<% loop += 1 %>
		</div>
	<% end %>
<% end %>