<% if logged_in? %>
	<% if current_user.id == @user.id %>
		<p>Welcome <%= @user.full_name %> </p>
	<% else %>
		<p>Name: <%=@user.full_name %></p>
	<% end %>
	<p>Email: <%= @user.email %> </p>

	<% questions = @user.questions %>
	<% if !(questions.empty?) %>
		<p> Submitted Question </p>
		<% loop = 1 %>
		<% questions.each do |q| %>
			<div>
				<p> <%= loop %> </p>
				<p> <%= q.question_details %> </p>
				<p> <%= q.category %> </p>
				<% loop += 1 %>
			</div>
		<% end %>
	<% end %>

	<% answers = @user.answers %>
	<% if !(answers.empty?) %>
		<p> Submitted Answers </p>
		<% loop = 1 %>
		<% answers.each do |ans| %>
			<div>
				<p> <%= loop %> </p>
				<p> <%= Question.find(ans.question_id).question_details %> </p>
				<p> <%= ans.answer_details %> </p>
				<% loop += 1 %>
			</div>
		<% end %>
	<% end %>


<% else %>
	<p>You are not logged in</p>
<% end %>